*
{
	margin: 0px;
	padding:0px;	
}
.d1
{
	background-color: blue;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 600px;
}
.d2
{
	background-color: red;
	position: absolute;
	left:150px;
	top: 0px;
	width: 350px;
	height: 150px;
}
.d3
{
	background-color: green;
	position: absolute;
	left: 500px;
	width: 200px;
	height: 600px;
}
.d4
{
	background-color: yellow;
	position: absolute;
	top:150px;
	left: 150px;
	width: 350px;
	height: 450px;
}
h1
{
	font-size: 20px;
	position: absolute;
	top: 37%;
	left: 33%;
}
/*.commonp1os
{
	position: absolute;
	top: 300px;
	left: 300px;
}*/